---
import BaseLayout from '~/layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import PostCard from '~/components/blog/PostCard.astro'
import SlideEnter from '~/components/SlideEnter.astro'

const posts = await getCollection('posts')

posts.sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---

<BaseLayout>
	<main class="w-full">
		<section class="w-3/4 mx-auto">
			<ul class="mt-6 grid gap-4 sm:grid-cols-2">
				{
					posts.map((post, i) => (
						<li class:list={['container', { 'sm:col-span-2': i === 0 }]}>
							<SlideEnter delay="60ms" stagger={i}>
								<PostCard href={`/blog/${post.slug}`} {...post.data} />
							</SlideEnter>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>