---
import BaseLayout from '~/layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'
import PostCard from '~/components/blog/PostCard.astro'
import SlideEnter from '~/components/SlideEnter.astro'

const posts = await getCollection('posts')

posts.sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);
---
<style>
  #posts .daisy-card::before {
    background: radial-gradient(250px circle at var(--x, -1000px) var(--y,-1000px), oklch(var(--p)), transparent);
  }
</style>
<BaseLayout>
	<main class="w-full">
		<section class="w-3/4 mx-auto">
			<ul id="posts" class="mt-6 grid gap-4 sm:grid-cols-2">
				{
					posts.map((post, i) => (
						<li class:list={['container', { 'sm:col-span-2': i === 0 }]}>
							<SlideEnter delay="60ms" stagger={i}>
								<PostCard class="post" href={`/blog/${post.slug}`} {...post.data} />
							</SlideEnter>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>

<script>
const postContainer = document.getElementById('posts')
const posts = postContainer?.querySelectorAll('.post')
postContainer?.addEventListener('mousemove', event => {
	if (!posts) return
	for (const post of posts) {
		const { clientX, clientY } = event
		const rect = post.getBoundingClientRect()
		const x = clientX - rect.left
		const y = clientY - rect.top
		;(post as HTMLDivElement).style.setProperty('--x', `${x}px`)
		;(post as HTMLDivElement).style.setProperty('--y', `${y}px`)
	}
})
</script>