<svg class="svg-markdown" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
	<filter id="component-transfer">
		<feComponentTransfer>
			<feFuncR type="identity" />
			<feFuncG type="identity" />
			<feFuncB type="identity" />
			<feFuncA type="identity" />
		</feComponentTransfer>
	</filter>
	<image
		href="/images/甘雨.jpeg" filter="url(#component-transfer)"
		x="0" y="0" width="100" height="100"
		preserveAspectRatio="xMidYMid slice"
	/>
</svg>
<div id="fe-component-transfer" class="grid sm:grid-cols-2 mt-4">
	<form name="feFuncR" class="space-y-2">
		<h3>feFuncR</h3>
		<label for="type">
		type：
			<select class="pl-2 pr-8 py-1 text-sm bg-base-300 rounded" name="type">
				<option selected value="identity">identity</option>
				<option value="linear">linear</option>
				<option value="gamma">gamma</option>
				<option value="table">table</option>
				<option value="discrete">discrete</option>
			</select>
		</label>
		<div id="feFuncR" class="space-y-2" />
	</form>
	<form name="feFuncG" class="space-y-4">
		<h3>feFuncG</h3>
		<label for="type">
		type：
			<select class="pl-2 pr-8 py-1 text-sm bg-base-300 rounded" name="type">
				<option selected value="identity">identity</option>
				<option value="linear">linear</option>
				<option value="gamma">gamma</option>
				<option value="table">table</option>
				<option value="discrete">discrete</option>
			</select>
		</label>
		<div id="feFuncG" class="space-y-4" />
	</form>
	<form name="feFuncB" class="space-y-4">
		<h3>feFuncB</h3>
		<label for="type">
		type：
			<select class="pl-2 pr-8 py-1 text-sm bg-base-300 rounded" name="type">
				<option selected value="identity">identity</option>
				<option value="linear">linear</option>
				<option value="gamma">gamma</option>
				<option value="table">table</option>
				<option value="discrete">discrete</option>
			</select>
		</label>
		<div id="feFuncB" class="space-y-4" />
	</form>
	<form name="feFuncA" class="space-y-4">
		<h3>feFuncA</h3>
		<label for="type">
		type：
			<select class="pl-2 pr-8 py-1 text-sm bg-base-300 rounded" name="type">
				<option selected value="identity">identity</option>
				<option value="linear">linear</option>
				<option value="gamma">gamma</option>
				<option value="table">table</option>
				<option value="discrete">discrete</option>
			</select>
		</label>
		<div id="feFuncA" class="space-y-4" />
	</form>
</div>
<template id="identity"></template>
<template id="linear">
	<label class="flex items-center" for="slope">
		slope：
		<input
			class="pl-2 py-1 text-sm bg-base-300 rounded"
			name="slope"
			type="number"
			step="0.01"
			placeholder="请输入斜率"
		/>
	</label>
	<label class="flex items-center" for="intercept">
		intercept：
		<input
			class="pl-2 py-1 text-sm bg-base-300 rounded"
			name="intercept"
			type="number"
			step="0.01"
			placeholder="请输入截距"
		/>
	</label>
</template>
<template id="gamma">
	<label class="flex items-center" for="amplitude">
		amplitude：
		<input
			class="pl-2 py-1 text-sm bg-base-300 rounded"
			name="amplitude"
			type="number"
			step="0.01"
			placeholder="请输入振幅"
		/>
	</label>
	<label class="flex items-center" for="exponent">
		exponent：
		<input
			class="pl-2 py-1 text-sm bg-base-300 rounded"
			name="exponent"
			type="number"
			step="0.01"
			placeholder="请输入指数"
		/>
	</label>
	<label class="flex items-center" for="offset">
		offset：
		<input
			class="pl-2 py-1 text-sm bg-base-300 rounded"
			name="offset"
			type="number"
			step="0.01"
			placeholder="请输入偏移量"
		/>
	</label>
</template>
<template id="table">
	<label class="flex items-center" for="tableValues">
		tableValues：
		<textarea
			class="pl-2 py-1 text-sm bg-base-300 rounded h-8"
			name="tableValues"
			placeholder="请输入表格值，每个值用空格隔开"
		/>
	</label>
</template>
<template id="discrete">
	<label class="flex items-center" for="tableValues">
		tableValues：
		<textarea
			class="pl-2 py-1 text-sm bg-base-300 rounded h-8"
			name="tableValues"
			placeholder="请输入表格值，每个值用空格隔开"
		/>
	</label>
</template>

<script>
type FeFuncType = 'identity' | 'linear' | 'gamma' | 'table' | 'discrete'

const feFuncSelects = document.querySelectorAll<HTMLSelectElement>('#fe-component-transfer form[name^="feFunc"] select[name="type"]')
for(const select of feFuncSelects) {
	select.addEventListener('change', () => {
		const { form, value } = select
		if(!form) return
		const div = form.querySelector<HTMLDivElement>(`#${form.name}`)
		
		if(!div) return
		const template = document.querySelector<HTMLTemplateElement>(`#${value}`)
		if(!template) return
		div.replaceChildren(template.content.cloneNode(true))
		
		const feFunc = document.querySelector<SVGFEFuncRElement>(`#component-transfer ${form.name}`)

		if(!feFunc) return
		
		feFunc.setAttribute('type', value)
		switch (value as FeFuncType) {
		case 'linear':
			form['slope'].addEventListener('change', () => {
				feFunc.setAttribute('slope', form['slope'].value)
			})
			
			form['intercept'].addEventListener('change', () => {
				feFunc.setAttribute('intercept', form['intercept'].value)
			})
			break
			
		case 'gamma':
			form['amplitude'].addEventListener('change', () => {
				feFunc.setAttribute('amplitude', form['amplitude'].value)
			})
			
			form['exponent'].addEventListener('change', () => {
				feFunc.setAttribute('exponent', form['exponent'].value)
			})
			
			form['offset'].addEventListener('change', () => {
				feFunc.setAttribute('offset', form['offset'].value)
			})
			break
			
		case 'table':
		case 'discrete':
			form['tableValues'].addEventListener('change', () => {
				feFunc.setAttribute('tableValues', form['tableValues'].value)
			})
			break
		case 'identity':
		default:
			break
		}
	})
}
</script>