@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'input mono';
	src: url('/fonts/input-regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'input mono bold';
	src: 
		url('/fonts/input-bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'input mono italic';
	src: 
		url('/fonts/input-italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'input mono bold italic';
	src: 
		url('/fonts/input-bold-italic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'cascadia mono';
	src: url('/fonts/CascadiaMono.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'cascadia mono italic';
	src: url('/fonts/CascadiaMonoItalic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'cascadia mono bold';
	src: url('/fonts/CascadiaMonoPL.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'cascadia mono bold italic';
	src: url('/fonts/CascadiaMonoPLItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'caveat';
	src: url('/fonts/Caveat-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}


@layer base {
	body {
		@apply font-cascadia-mono;
	}

	:where(a) {
		@apply transition-colors;
	}

	html[data-theme="dark"] {
		color-scheme: dark;
	}

	/* 修改浏览器默认滚动条样式 */
	::-webkit-scrollbar {
		width: 0.25rem;
		height: 0.25rem;
	}

	::-webkit-scrollbar-track {
		background: transparent;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 0.5rem;
		background-color: oklch(var(--b2));
	}
	
	::-webkit-scrollbar-thumb:hover {
		background-color: oklch(var(--b3));
	}
	
	/* View Transition */
	/* ::view-transition-image-pair(root) {
		isolation: auto;
	}
	
	::view-transition-old(root),
	::view-transition-new(root) {
		animation: none;
		mix-blend-mode: normal;
	}	

	::view-transition-old(root),
	[data-theme="dark"]::view-transition-new(root)  {
		z-index: 1;
	}
	::view-transition-new(root),
	[data-theme="dark"]::view-transition-old(root) {
		z-index: 9999;
	} */
}

@layer utilities {
	.slide-enter,
	#markdown svg,
  #markdown img {
		--initial-delay: 60ms;
		@apply animate-slide-out;
		animation-delay: calc(var(--initial-delay) + var(--delay, 60ms) * var(--stagger, 0));
	}
	.transition-stroke-dashoffset {
		transition-property: stroke-dashoffset;
		transition-timing-function: linear;
	}
	.flex-center {
		@apply flex justify-center items-center;
	}
	.inline-flex-center {
		@apply inline-flex justify-center items-center;
	}
}