@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@layer base {
	body {
		font-family: 'Atkinson', sans-serif;
	}

	:where(a) {
		@apply transition-colors;
	}

	html[data-theme="dark"] {
		color-scheme: dark;
	}

	/* 修改浏览器默认滚动条样式 */
	::-webkit-scrollbar {
		@apply s-1;
	}

	::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	::-webkit-scrollbar-thumb {
		@apply bg-base-200 rounded-lg;
	}
	
	::-webkit-scrollbar-thumb:hover {
		@apply bg-base-300
	}

	/* 修改浏览器进度条默认样式 */
	::-webkit-progress-bar {
		@apply bg-base-300;
	}
	
	::-webkit-progress-value {
		@apply bg-primary;
	}

	#nprogress {
		@apply pointer-events-none;
	}
	
	#nprogress .bar {
		@apply fixed z-[1031] w-full h-0.5 left-0 top-0 bg-primary;
	}
	/* View Transition */
	/* ::view-transition-image-pair(root) {
		isolation: auto;
	}
	
	::view-transition-old(root),
	::view-transition-new(root) {
		animation: none;
		mix-blend-mode: normal;
	}	

	::view-transition-old(root),
	[data-theme="dark"]::view-transition-new(root)  {
		z-index: 1;
	}
	::view-transition-new(root),
	[data-theme="dark"]::view-transition-old(root) {
		z-index: 9999;
	} */
}

@layer utilities {
	.slide-enter,
	#markdown svg,
  #markdown img {
		--initial-delay: 60ms;
		@apply animate-slide-out;
		animation-delay: calc(var(--initial-delay) + var(--delay, 60ms) * var(--stagger, 0));
	}
	.transition-stroke-dashoffset {
		transition-property: stroke-dashoffset;
		transition-timing-function: linear;
	}
	.flex-center {
		@apply flex justify-center items-center;
	}
	.inline-flex-center {
		@apply inline-flex justify-center items-center;
	}
}