@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@layer base {
	body {
		font-family: 'Atkinson', sans-serif;
	}
	/* View Transition */
	/* ::view-transition-image-pair(root) {
		isolation: auto;
	}
	
	::view-transition-old(root),
	::view-transition-new(root) {
		animation: none;
		mix-blend-mode: normal;
	}	

	::view-transition-old(root),
	[data-theme="dark"]::view-transition-new(root)  {
		z-index: 1;
	}
	::view-transition-new(root),
	[data-theme="dark"]::view-transition-old(root) {
		z-index: 9999;
	} */
}

@layer utilities {
	.s-full {
		@apply w-full h-full;
	}
}