---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
// import Icon from 'astro-icon'
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>你好</h1>
			<button class="daisy-btn daisy-btn-outline">Button</button>
			<button class="daisy-btn daisy-btn-outline daisy-btn-neutral">Neutral</button>
			<button class="daisy-btn daisy-btn-outline daisy-btn-primary">Primary</button>
			<button class="daisy-btn daisy-btn-outline daisy-btn-secondary">Secondary</button>
			<button class="daisy-btn daisy-btn-outline daisy-btn-accent">Accent</button>
			<button class="daisy-btn daisy-btn-outline daisy-btn-ghost">Ghost</button>
			<button class="daisy-btn daisy-btn-outline daisy-btn-link">Link</button>
			<button class="daisy-btn daisy-btn-outline daisy-btn-info">Info</button>
			<button class="daisy-btn daisy-btn-outline daisy-btn-success">Success</button>
			<button class="daisy-btn daisy-btn-outline daisy-btn-warning">Warning</button>
			<button class="daisy-btn daisy-btn-outline daisy-btn-error">Error</button>
		</main>
		<Footer />
	</body>
</html>
