---
import type { HTMLAttributes } from 'astro/types'
import { Icon } from 'astro-icon/components'
interface Props extends HTMLAttributes<'a'> {
  icon?: string;
}

const { href, icon, class: className, ...props } = Astro.props

const { pathname } = Astro.url
// 支持/home 或者 /home/
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { 'text-primary daisy-link': isActive }, 'header-link flex transition-all items-center hover:text-primary']} {...props}>
	<span class="sm:hidden">
		<slot name="icon">
			{icon && <Icon name={icon} class="fill-current" size={24} />}
		</slot>
	</span>
	<span class="hidden sm:block">
		<slot />
	</span>
</a>

<script>
document.addEventListener('astro:page-load', () => {
	const headerLinks = [...document.querySelectorAll('.header-link')]
	// 如果多次点击同一个链接，只会触发一次
	headerLinks.forEach(link => {
		link.addEventListener('click', (e) => {
			const href = link.getAttribute('href')
			if (href === location.pathname) {
				e.preventDefault()
			}
		})
	})
})
</script>