---
import HeaderLink from './HeaderLink.astro'
import { GITHUB_URL, TWITTER_URL, BILIBILI_URL } from '../consts'
import { Icon } from 'astro-icon/components'
import SocialLink from './SocialLink.astro'
import Logo from './Logo.astro'
---
<nav class="daisy-navbar relative md:p-4 lg:p-6">
  <!-- mask -->
  <div id="nav-mask" class="
      absolute top-0 left-0 -z-10 w-full h-[120%] 
      backdrop-blur-sm bg-gradient-to-b 
      from-base-100 to-[rgba(19, 14, 37, 0)]
			backdrop-opacity-30 pointer-events-none
    "
  />
  <Logo />
  <div class="flex-none flex gap-x-2 sm:gap-x-4 md:gap-x-6 items-center">
      <!-- 导航链接 -->
      <div class="flex font-cascadia-mono-bold gap-x-2 md:gap-x-6">
      	<HeaderLink title="首页" icon="home" href="/">Home</HeaderLink>
      	<HeaderLink	title="博客" icon="article" href="/blog">Blog</HeaderLink>
      	<HeaderLink	title="项目" icon="carbon:folder" href="/projects">Projects</HeaderLink>
      	<HeaderLink	title="笔记" icon="carbon:align-box-top-left" href="/notes">Notes</HeaderLink>
      	<HeaderLink	title="关于我" icon="me" href="/about">About</HeaderLink>
      </div>
      <!-- 社交链接 -->
      <div class="hidden gap-x-2 lg:flex items-center">
      	<SocialLink size={26} title="GitHub" icon="carbon:logo-github" href={GITHUB_URL} />
      	<SocialLink size={28} title="Twitter" icon="carbon:logo-twitter" href={TWITTER_URL} />
      	<SocialLink title="哔哩哔哩" icon="bilibili" href={BILIBILI_URL} />
      </div>
      <!-- 主题切换swap，设置transition:persist保留原来的元素 -->
      <label transition:persist class="hover:text-primary transition-colors flex-none daisy-swap daisy-swap-rotate w-6 h-6">
      	<input class="daisy-swap-indeterminate" type="checkbox" />
      	<Icon
      		name="sun"
      		size={26}
      		data-toggle-theme="dark,light"
      		class="daisy-swap-on fill-current s-full"
      	/>
      	<Icon
      		name="moon"
      		size={26}
      		data-toggle-theme="dark,light"
      		class="daisy-swap-off fill-current"
      	/>
      </label>
  </div>
</nav>

<script>
import gsap from 'gsap'
import { ScrollTrigger } from 'gsap/all'
import { debounce } from '~/utils'

gsap.registerPlugin(ScrollTrigger)

document.addEventListener('astro:page-load', () => {
	const onUpdate = debounce((self) => {
		gsap.set('#nav-mask', { 'backdrop-filter': `opacity(${(self as ScrollTrigger).progress.toFixed(2)})` })
	}, 300)
	ScrollTrigger.create({
		trigger: document.documentElement,
		start: 'top top',
		end: 'bottom bottom',
		onUpdate,
	})
})
</script>