---
import '~/styles/markdown.css'
import '~/styles/shiki.css'
import BaseLayout from './BaseLayout.astro'
import type { Props as BaseLayoutProps } from './BaseLayout.astro'
import Prose from '~/components/typography/Prose.astro'
import BackToTop from '~/components/BackToTop.astro'
import { Icon } from 'astro-icon/components'

interface Frontmatter extends BaseLayoutProps {}

interface Props {
  frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props
---

<BaseLayout {...frontmatter}>
	<main id="markdown" class="relative w-full">
		<Prose>
			<slot />
			<p class="flex gap-2 items-center text-gray-500 -ml-1">
				<Icon name="corner" class="w-4 h-4 fill-current" />
				<a id="back" class="not-prose hover:text-primary hover:underline transition-colors cursor-pointer">
					cd ..
				</a>
			</p>
		</Prose>
	</main>
	<BackToTop />
</BaseLayout>

<script>
document.addEventListener('astro:page-load', () => {
	
	const back = document.getElementById('back')
	const lang = (document.children[0] as HTMLHtmlElement).lang.toLowerCase()	
	back?.addEventListener('click', () => {
		const { origin, pathname } = location
		const isEnableI18n = pathname.includes(lang)
		const url = new URL(pathname.split('/').slice(0, -1).join('/'), origin)
		if(isEnableI18n) {
			url.pathname = url.pathname.replace(`/${lang}`, '')
		}
		location.assign(url)
	})
})
</script>