---
import '~/styles/markdown.css'
import BaseLayout from './BaseLayout.astro'
import type { Props as BaseLayoutProps } from './BaseLayout.astro'
import Prose from '~/components/typography/Prose.astro'
import BackToTop from '~/components/BackToTop.astro'

interface Frontmatter extends BaseLayoutProps {}

interface Props {
  frontmatter: Frontmatter;
}

const { frontmatter } = Astro.props
---

<BaseLayout {...frontmatter}>
	<main class="relative w-full">
		<Prose>
			<slot />
		</Prose>
	</main>
	<BackToTop />
</BaseLayout>