---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from './BaseLayout.astro'
import FormattedDate from '../components/FormattedDate.astro'

type Props = CollectionEntry<'notes'>['data']

const { title, description, publishDate } = Astro.props
---

<BaseLayout title={title} description={description}>
	<main class="p-4 mx-auto prose prose-sm sm:mt-8 sm:prose-lg dark:prose-invert">
		<h1 class="mb-2 text-secondary">{title}</h1>
		<p class="text-neutral">
      发布于
			<FormattedDate date={publishDate} />
		</p>
		<article>
			<slot />
		</article>
	</main>
</BaseLayout>